{% extends "base.html" %}
{% block content %}
		{% if error %}
			<script>
				alert("You are not authorized to perform this action");
			</script>
		{% endif %}
	<section class="content">
		<div class="form">
			<h1>Edit School</h1>
			<form action="{{url_for('editSchool', school_id=school_id)}}" method = 'post'>
				<label>
					Name
					<input type = 'text' size = '42' name = 'name' value = '{{name}}' required><br>
				</label>
				<label>
					Branch
					<input type = 'text' size = '40' name = 'branch' value = '{{branch}}'><br>
				</label>
				<label>
					City
					<input type = 'text' size = '44' name = 'city' value = '{{city}}'><br>
				</label>
				<label>
					Website
					<input type = 'text' size = '30' name = 'website' value = '{{website}}'><br>
				</label>
				<br>
				<input type = 'submit' size = '30' name = 'Edit School'>
				<a href = "{{url_for('showSchools')}}"> Cancel </a>					
			</form>
		</div>
	</section>
{% endblock %}